{{extend genshinLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}html/player/role-explore.css"/>
{{/block}}


{{block 'main'}}
<!-- inline style 盖掉 layout 里那条浅色 .head_box 规则 -->
<div class="head_box"
     style="background-image: linear-gradient(100deg, rgba(16,20,32,.94) 0%, rgba(16,20,32,.62) 52%, rgba(16,20,32,.22) 100%), url({{_res_path}}img/roleIndex/namecard/{{bg}}.png)">
  <img class="icon" src="{{avatar}}">
  <p class="id_text"><span class="name">{{gamename}}</span><span class="lv">Lv.{{gamelevel}}</span></p>
  <div class="day_text">{{gamefwq}} | UID{{uid}}</div>
  <img class="genshin_logo" src="{{_res_path}}img/other/原神.png">
</div>

<div class="data_box">
  <div class="tab_lable">数据总览</div>
  <div class="top_line">
    {{each topLine item}}
    <div class="top_item">
      <div class="top_num">{{item.num}}{{if item.extra}}<span>/{{item.extra}}</span>{{/if}}</div>
      <div class="lable">{{item.lable}}</div>
    </div>
    {{/each}}
  </div>
  <!-- 四列网格，项数变化自动换行，不再受固定宽度限制 -->
  <div class="grid">
    {{each items item}}
    <div class="cell">
      <div class="num" style="color:{{item.color}}">{{item.num}}{{if item.extra}}<span>/{{item.extra}}</span>{{/if}}
      </div>
      <div class="lable">{{item.lable}}</div>
    </div>
    {{/each}}
  </div>
</div>

{{if basicInfo?.level>0}}
<div class="basicInfo">
  <div class="tab_lable">七圣召唤</div>
  <div class="basicInfo_header">
    <div class="basicInfo_icon"><span>{{basicInfo.level}}</span></div>
    <div class="basicInfo_right">
      <div class="item">
        <div>已收集角色牌</div>
        <div>{{basicInfo.avatar_card_num_gained}}/{{basicInfo.avatar_card_num_total}}</div>
      </div>
      <div class="item">
        <div>已收集行动牌</div>
        <div>{{basicInfo.action_card_num_gained}}/{{basicInfo.action_card_num_total}}</div>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="explor_box">
  <div class="tab_lable">地图探险</div>
  <div class="explor_grid">
    {{each explor val}}
    <div class="item{{if !val.hasIcon}} no_icon{{/if}}"
         {{if val.bgImg}}style="background-image: linear-gradient(115deg, rgba(8,12,20,.84) 0%, rgba(8,12,20,.54) 100%), url({{val.bgImg}})"{{/if}}>
      <!-- 本地没图就退到接口给的官方徽记，都没有的话由 .no_icon 让文字填满卡片 -->
      <img class="icon" src="{{_res_path}}img/other/{{val.name}}.png" data-fallback="{{val.icon}}"
           onerror="var f=this.dataset.fallback; if(f&&this.src!==f){this.src=f}else{this.onerror=null;this.style.display='none'}"/>
      <div class="content">
        {{each val.line line}}
        <p class="name">{{line.name}}<span class="num">{{line.text}}</span></p>
        {{/each}}
      </div>
      <div class="progress">
        <div class="bar" style="width:{{val.percent}}%"></div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/block}}
